.appointmentType {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.loader-container {
    justify-content: center !important;
    display: flex !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
    width: 10% !important;
}

.homeTestLable {
    color: black;
    margin-right: 1rem;
}

.homeTestContent {
    display: flex;
    justify-content: center;
}

.appoinementCard {
    width: 18rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}

.categoryLable {
    font-weight: bold;
    margin-bottom: 5px;
}

.categoryDropdown {
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid gray;
}

.homeTestBtn {
    cursor: pointer;
}

.validationError {
    color: red;

}

.appointmentType h5 {
    font-weight: 700;
    background: -webkit-linear-gradient(45deg, #19D3AE, #0FCFEC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.appointmentType p {
    color: black !important;
    font-weight: 700;
}

.appointmentType small {
    color: gray;
}

.appointmentType button {
    border: none;
    outline: none;
    padding: 8px 15px;
    background-image: linear-gradient(to right, #19D3AE, #0FCFEC);
    color: white;
    font-weight: 700;
    border-radius: 2px;
}

.popupDetails {
    margin: auto;
    /* padding: 40px; */
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    /* width: 700px; */
    position: relative;
}

.bookingHeader {
    /* display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; */
}

.bookingHeader h3 {
    color: black;
    margin-bottom: 1rem;
    border-bottom: 1px solid grey;
    padding: 5px;

}

.crossIcon {
    width: 2rem;
    height: 2rem !important;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

}


.popupDetails h5 {
    margin-bottom: 30px;
}

/* .dateTimeField div {
    display: flex;
    width: 500px;
    justify-content: center;
} */
.dateTimeField {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;

}

.dateTimeFieldInner {
    display: flex;
    justify-content: center;
    width: 500px;
}

.timeInput {
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
    margin-left: 20px;
}

.popupDetails .takeInput {
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;
}

.popupDetails .submitBtn {
    display: flex;
    justify-content: center;
    margin-right: 55px;
}

.popupDetails .submitBtn>* {
    padding: 5px 30px;
    background-image: linear-gradient(to right, #19D3AE, #0FCFEC);
    border: none;
    outline: none;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

@media only screen and (max-width: 991px) {
    .appointmentType h5 {
        font-size: 18px;
        font-weight: 600px;
    }

    .appointmentType button {
        font-size: 14px;
        padding: 8px 10px;
    }

    .appointmentType {
        margin: 1rem;
    }

    .appointmentType button {
        font-size: 11px;
        padding: 8px 10px;
        margin: 0.2rem;
    }
}

@media only screen and (max-width: 771px) {
    .popupDetails {
        width: 400px;
        background-color: white;
        border-radius: 20px;
    }

    .popupDetails .takeInput {
        width: 300px;
    }

    .categoryDropdown {
        width: 300px;

    }

    .dateTimeFieldInner {
        width: 300px;
    }

    .appointmentType {
        margin: 0;
    }

    .appointmentType button {
        font-size: 11px;
        padding: 8px 10px;
        margin: 0.2rem;
    }


}

@media only screen and (max-width: 441px) {
    .popupDetails {
        width: 300px;
        margin: 30px;
    }

    .popupDetails .takeInput {
        width: 200px;
    }

    .categoryDropdown {
        width: 200px;

    }


    .dateTimeFieldInner {
        width: 200px;
        flex-wrap: wrap;
    }

    .dateTimeFieldInner .takeInput {
        margin-bottom: 1rem;
    }

    .timeInput {
        margin: 0;
    }

    .appointmentType {
        margin: 0;
    }

    .appointmentType button {
        font-size: 11px;
        padding: 8px 10px;
        margin: 4rem 0rem;

    }

}